# ------------------------------------------------------------ #
#                        Data Processing                       #
# ------------------------------------------------------------ #

pandas
Pillow

# ------------------------------------------------------------ #
#                          ML Packages                         #
# ------------------------------------------------------------ #

sklearn

# ------------------------------------------------------------ #
#                            PyTorch                           #
# ------------------------------------------------------------ #

-f https://download.pytorch.org/whl/cu117
torch
-f https://download.pytorch.org/whl/cu117
torchtext

# ------------------------------------------------------------ #
#                           Frontend                           #
# ------------------------------------------------------------ #

gradio